@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dbeafe;
  --primary: #007bff;
  --secondary: #f8f9fa;
  --accent: #28a745;
  --text: #333333;
  --text-light: #ffffff
}


body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}